body{
    
    display: flex;

    align-items: stretch;

}

@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
aside div{
    font-family: 'norsebold';
    color: #fff;
    margin-top: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    background-position-x: center; 
    background-position-y: center; 


}

aside div span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 30%;
}
.col1{
    background-image: url('unsplash.jpg');
    background-size: cover;
    height: 1000px;
    width: 410px;
    

}

.col2{
    margin: 90px 40px 60px 40px;
    --padding: 60px;
    --link-color: #5388b3;
    align-self: top;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:  60vw;
}

/*
.p1{
    margin-top: 150px;
    padding-left: var(--padding);
    width: 47vw;
    margin-bottom: 50px;
}
*/
p {
    font-size: 20px;
    font-weight: 550;
}

input {
    -webkit-appearance: none;
    appearance: none;
}
form {
    justify-self: center;
}

fieldset {
    height: 30vh;
    border: 0px;
    padding-bottom: 50px;
    /*padding-left: var(--padding);*/
    background-color: rgb(240, 243, 239);
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-family: 'Roboto', sans-serif;
}

fieldset>p {
    margin-bottom: 10px;
}

fieldset>* {
    display: flex;
    gap: 100px;
}

fieldset>*>* {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

input{
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 3px;
}

input:focus{
    outline: none !important;
    border: 2px solid #5388b3;
}

input:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid #ee2828;
}

.input-sub{
    margin-top: 40px;
}
input[type="submit"] {
    /*margin-left: var(--padding);*/
    margin-top : calc(var(--padding)/2);
    height: 60px;
    width: 300px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
    background-color: #049e32;
    box-shadow: 4px 4px 8px 2px #d3d2d2;;
}

.cont-shadow{
    height: 40px;
    padding-top: 20px;
}

.shadow{
    margin-top: 10px;
    height: 10px;
    width: 60vw;
    background-image: linear-gradient(rgb(214, 214, 214), #ffffff)
}



/*
.account {
    padding-left: var(--padding);
}
*/
.account>p>a {
    text-decoration: none;
}
